<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greatcorn.masmze">

    <!-- Permisos mínimos: vibracion para feedback táctil -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Requiere OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- ABIs soportados (añadir más según NDK build) -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="MASMZE-3D"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="false">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
